<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICompontsReturn"
                 maxReceivedMessageSize="20000000" maxBufferPoolSize="20000000" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000" maxBytesPerRead="2147483647"/></binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_ICompontsReturn">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ComponentsReturn/Ep1" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICompontsReturn" contract="ServiceReference1.ICompontsReturn"
        name="BasicHttpBinding_ICompontsReturn" />
      <endpoint address="http://localhost/ComponentsReturn/mex" binding="wsHttpBinding"
        bindingConfiguration="MetadataExchangeHttpBinding_ICompontsReturn"
        contract="ServiceReference1.ICompontsReturn" name="MetadataExchangeHttpBinding_ICompontsReturn" />
    </client>

    
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>